
<% @gossips.each do |gossip| %>
    <ul>
        <li>Titre: <%= gossip.title %></li>
        <li>Potin: <%= gossip.content %></li>
        <li>Auteur: <%= gossip.user.first_name %> <%= gossip.user.last_name %></li>
        <li><%= link_to "Voir ce potin", gossip_path(gossip.id) %></li>
        <% if user_signed_in? %>
            <% if Like.find_by(user_id: current_user.id, gossip_id: gossip.id) %> 
                <%= link_to "#{gossip.likes.count}", gossip_like_path(gossip.id, current_user.id), method: :delete %>
            <% else %>
                <%= link_to "#{gossip.likes.count}", gossip_likes_path(gossip.id, :index), method: :post %>
            <% end %>
        <% else %>
            <% gossip.likes.count %>
        <% end %>
    </ul>


    <%= link_to "Ville", city_path(gossip.user.city.id)%>
<% end %>


 
