<h1>Potin</h1>
<%= link_to "Modifier le potin", edit_gossip_path(@gossip.id)%>
<%= link_to "Suppimer le potin", gossip_path(@gossip), data: { confirm: "Euuuh tu es sûr ?", method: 'DELETE' }%>

<li>Titre: <%= @gossip.title %></li>
<li>Potin: <%= @gossip.content %></li>
<li>Auteur: <%= @gossip.user.first_name %> <%= @gossip.user.last_name %></li><br />

<% @gossip.comments.each do |comment|%>
    <li><%= comment.content %></li>
    <li><%= comment.user.first_name %></li><br />
    <% if comment.user == current_user %>
        <%= link_to "Modifier le commentaire", edit_gossip_comment_path(@gossip.id, comment.id) %>
        <%= link_to "Supprimer le commentaire", gossip_comment_path(@gossip.id, comment.id), method: :delete %>
    <% end %>
<% end %>

<%= form_tag(gossip_comments_path(@gossip.id), :method => "post") do %>
  <%= text_field_tag :content, params[:comment], placeholder: "Ajoute ton com!!" %>
  <%= submit_tag "Submit"%>
<% end %>