<h1><%= @city.name %></h1>
<p><%= @city.zip_code %></p>
<% @city.gossips.each do |gossip|%>
    <ul>
        <li>Titre: <%= gossip.title %></li>
        <li>Potin: <%= gossip.content %></li>
        <li>Auteur: <%= gossip.user.first_name %> <%= gossip.user.last_name %></li>
    </ul>
<% end %>